footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

blockquote {
    padding: 11px 22px;
    margin: 0 0 22px;
    font-size: 20px;
}

h2 {
    margin-left: 0px;
}

h3 {
    margin-left: 40px;
}

h4 {
    margin-left: 60px;
}

p {
    font-size: 19px;
}

.label {
    color: black
}


*:not(code):not(kbd):not(pre):not(samp):not(span) {
    font-family: 'Maven Pro', sans-serif;
}

code, kbd, pre, samp, span {
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
}

span.std.std-ref {
    font-size: 14px;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
    font-size: 17px;
    font-weight: bold;
}
